@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
  font: 1.2rem "Baloo 2", sans-serif;

  scrollbar-width: thin;
  scrollbar-color: blue orange;
}



.tippy-content {
  font-size: 1.2rem;
}

.border {
  border: 2px groove lightgray;
}

.shadow {
  box-shadow: 5px 5px lightgray;
}




.songSelection {
  cursor: pointer;
}

#currentlySelected {
  background-color: #00D1B2;
}

#currentlySelected:hover {
  background-color: #00D1B2;
}

.userEnteredSong {
  text-decoration: underline black;
}

.userEnteredSong:hover {
  color: black;
}

.listenedToSong {
  background-color: lightgray;
}

.song-item {
  padding: 0.5rem;
  margin-top: 0 !important;
  border: 1px solid;
  border-bottom: none;
  font-variant: small-caps;
}

.song-item:hover {
  color: #3298DC;
  border: 1px solid black;
  border-bottom: none;
  cursor: pointer;
}






.lyrics-line {
  display: block;
  font-variant: small-caps;
}


#iframe-container {
  position: relative;
  width: 100%;
  height: 0;
}

#iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.container.is-fluid {
  padding-left: 0;
  padding-right: 0;
}

#exploreButton {
  max-width: 70%;

  height: auto;
  white-space: normal;

}

#moodMusicLogo {
  height: 100px;
  width: 100px;
}



#moodMusicTitle {
  margin-top: 15rem;
}

#songListSection {
  cursor: pointer;
  height: 55vh;
  overflow-y: overlay;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0.1rem;
}

#lyricsSection {
  height: 72.4vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#youTubeDiv {
  margin-left: 0;
  margin-right: 0;
}

#lyricsDiv {
  margin-left: 0;
  margin-right: 1%;
}

#welcomeHero {
  padding: 0.2rem;
}

#songDiv {
  margin-left: 1%;
}

#artistName,
#songName,
#searchButton {
  width: 100%;
  display: block;
  margin-bottom: 0 !important;
}

#youtubeParent {
  padding: 0.2rem;
  height: fit-content;
  box-shadow: 5px 10px lightgray;
}



#songListSection::-webkit-scrollbar,
#lyricsSection::-webkit-scrollbar {
  width: 12px;

}

#songListSection::-webkit-scrollbar-track,
#lyricsSection::-webkit-scrollbar-track {
  background: lightgray;

  border-radius: 20px;
}

#songListSection::-webkit-scrollbar-thumb,
#lyricsSection::-webkit-scrollbar-thumb {
  background-color: #3298DC;

  border-radius: 20px;

}





@media (max-width: 769px) {
  #moodMusicTitle {
    margin-top: 0;
  }

  #songListSection {
    margin-right: 15%;
    padding-left: 0;
    padding-right: 0;
  }

  #youTubeDiv {
    margin-left: 2%;
    margin-right: 3%;
  }

  #lyricsDiv {
    margin-left: 3%;
    margin-right: 20%;
  }

  #welcomeHero {
    padding: 1rem;
  }

  #songDiv {
    width: 90%;
    margin-left: 2%;
  }

  #artistName,
  #songName,
  #searchButton {
    width: 85%;
    display: block;
    margin-bottom: 0 !important;
  }

  #youtubeParent {
    padding: 0.2rem
  }



  #songListSection::-webkit-scrollbar,
  #lyricsSection::-webkit-scrollbar {
    width: 6px;

  }
}