@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
    font: 1.2rem "Baloo 2", sans-serif;

    scrollbar-width: thin;
    scrollbar-color: blue orange;
}



.tippy-content {
    font-size: 1.2rem;
}

.border {
    border: 2px groove lightgray;
}

.shadow {
    box-shadow: 5px 5px lightgray;
}




#lyricsSection {
    /* TODO adjust height (also media queries for mobile) */
    /* TODO increase the width */
    height: 35rem;
    /* max-width: 17rem; */
    overflow-y: auto;
    overflow-x: hidden;
}

#userEnteredSong {
    text-decoration: underline black;
}

#userEnteredSong:hover {
    color: black;
}

.songSelection {
    cursor: pointer;
}

.song-item {
    /* TODO add styling */
    padding: 0.5rem;
    margin-top: 0 !important;
    border: 1px solid;
    border-bottom: none;
    font-variant: small-caps;

}

.song-item:hover {
    color: #3298DC;
    border: 1px solid black;
    border-bottom: none;
    cursor: pointer;
}

/* Each line in the lyrics */
.lyrics-line {
    /* TODO add styling */
    display: block;
    font-variant: small-caps;
}

/* YouTube Video Embedded */
#iframe-container {
    position: relative;
    width: 100%;
    height: 0;
}

#iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Bulma Custom Styling */
.container.is-fluid {
    padding-left: 0;
    padding-right: 0;
}

#exploreButton {
    max-width: 70%;
    /* enabling text wrapping for the button */
    height: auto;
    white-space: normal;

}

#moodMusicLogo {
    height: 100px;
    width: 100px;
}


/* /////////////////////// */
#moodMusicTitle {
    margin-top: 15rem;
}

#songListSection {
    cursor: pointer;
    height: 20rem;
    overflow-y: auto;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0.1rem;
}

#youTubeDiv {
    margin-left: 0;
    margin-right: 0;
}

#lyricsDiv {
    margin-left: 0;
    margin-right: 0;
}

#welcomeHero {
    padding: 0.2rem;
}

#songDiv {
    margin-left: 1%;
}

#artistName,
#songName,
#searchButton {
    width: 100%;
    display: block;
    margin-bottom: 0 !important;
}

#youtubeParent {
    padding: 0.2rem;
    height: fit-content;
    box-shadow: 5px 10px lightgray;
}


/* START OF the Scroll bar Customization Block */
#songListSection::-webkit-scrollbar,
#lyricsSection::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

#songListSection::-webkit-scrollbar-track,
#lyricsSection::-webkit-scrollbar-track {
    background: lightgray;
    /* color of the tracking area */
    border-radius: 20px;
}

#songListSection::-webkit-scrollbar-thumb,
#lyricsSection::-webkit-scrollbar-thumb {
    background-color: #3298DC;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

/* END OF the Scroll bar Customization Block */


/* Working on mobile responsiveness */
@media screen and (max-width: 769px) {
    #moodMusicTitle {
        margin-top: 0;
    }

    #songListSection {
        margin-right: 15%;
        padding-left: 0;
        padding-right: 0;
    }

    #youTubeDiv {
        margin-left: 2%;
        margin-right: 3%;
    }

    #lyricsDiv {
        margin-left: 3%;
        margin-right: 22%;
    }

    #welcomeHero {
        padding: 1rem;
    }

    #songDiv {
        width: 90%;
        margin-left: 2%;
    }

    #artistName,
    #songName,
    #searchButton {
        width: 85%;
        display: block;
        margin-bottom: 0 !important;
    }

    #youtubeParent {
        padding: 0.2rem
    }



    #songListSection::-webkit-scrollbar,
    #lyricsSection::-webkit-scrollbar {
        width: 6px;
        /* width of the entire scrollbar */
    }
}